{{> head}}
{{> header}}

<main class="has-header-offset">

<section class="mast pad-lg">
  <div class="grid-sm">
    <h1 class="mast__title">The Jumpoff</h1>
    <h2 class="mast__subtitle color-alpha">Just a little Gulp, Babel, Browserify, <br />and HBS starter to set shit off.</h2>
    <hr class="sep">
    <p class="mast__text">
      Contains some useful boiler css, Babel + Browserify handling of ES6 and JS modules, Handlebars partials for project organization.
    </p>
    </div>
  </div>
</section>

</main>

{{> footer}}
