{{> head}}
<!-- Header -->
{{> header}}

<main role="main">

<section class="mast pad-lg">
  <div class="grid-sm">
    <h1 class="mast__title">The Jumpoff</h1>
    <h2 class="mast__subtitle color-alpha">Just a little Gulp starter to set shit off.</h2>
    <hr class="sep">
    <p class="mast__text">Contains a bit of useful css, sensible scss/js structuring, a js includes system (see src/assets/js/app.js), Handlebars-enabled partials, and system error notices.</p>
    </div>
  </div>
</section>

</main>

<!-- Footer -->
{{> footer}}