<header class="app-header">
  <div class="grid-lg">
    <a class="app-header__brand">The JumpOff</a>
    <button class="menu-toggle js-menu-toggle" arial-label="Menu">
        <div class="menu-toggle__bars"></div>
    </button>
  </div>
</header>
