<section class="app-menu-sm">
  <nav class="app-menu-sm__nav">
    <a class="app-menu-sm__link" href="#">Home</a>
    <a class="app-menu-sm__link" href="#">About</a>
    <a class="app-menu-sm__link" href="#">Contact</a>
  </nav>
</section>
